<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <IsWebMail>0</IsWebMail>
  <IsTestMail>1</IsTestMail>
  <TestMailID>arorasrishti995@gmail.com</TestMailID>
  <MailBcc>arorasrishti995@gmail.com</MailBcc>
  <SMTPServer>smtp.gmail.com</SMTPServer>
  <SMTPFromMailID>arorasrishti995@gmail.com</SMTPFromMailID>
  <SMTPUserID>arorasrishti995@gmail.com</SMTPUserID>
  <SMTPPassword>teripadndi</SMTPPassword>
  <SMTPPort>587</SMTPPort>
  <EnableSSLMail>1</EnableSSLMail>
  <UseDefaultCredential>0</UseDefaultCredential>
  <!-- common e-mail ids -->
  <MailBcc>arorasrishti995@gmail.com</MailBcc>
</Root>
 